.bold {
    font-weight: bold;
}
.italics{
    font-style: italic;
}
.center-text{
    text-align: center;
}
/* .right-text{
    display: inline; 
    text-align: right;  
} */
.resume-container {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }
  .black{
    color: black;
  }
  .white{
    color: white !important;
  }
  .larger-font-size{
    font-size: 1.3rem !important;
  }
  .black-border{
    border: solid black 4px;
  }

